* {
  margin: 0px;
}

html {
  background-image: radial-gradient(
      rgba(255, 0, 0, 0.537),
      rgba(8, 8, 37, 0.926)
    ),
    url("../images/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  filter: sepia();
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  margin: 0px;
  height: 80vh;
}

h1 {
  letter-spacing: 10px;
  text-decoration: overline;
  text-transform: capitalize;
  word-spacing: 2px;
  color: whitesmoke;
  text-align: center;
  font-size: 60px;
  line-height: 90px;
}

h1:hover {
  color: darkgreen;
}

ul {
  display: flex;
  margin-bottom: 20vh;
  text-align: center;
  list-style-type: none;
  padding: 20px;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-style: oblique;
}

a:hover {
  color: darkgreen;
  text-decoration: underline;
}

li {
  margin: 2vh;
}

main {
    display: flex;
}

.second-p {
  background-color: rgba(103, 41, 41, 0.608);
  color: whitesmoke;
  height: 100px;
  width: 700px;
  border-style:hidden;
  padding: 50px;
  padding-top: 70px;
  border-width: 0px;
  border-radius: 50%;
  font-size: large;
  text-align: center;
}
